.main-right-recommand {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    border: 1px solid #efefef;
    background-color: #fff;
    padding: 10px;
    height: 30%;

    .main-right-header {
        display: flex;
        padding: 10px;
        justify-content: space-between;

        div {
            color: #999;
        }

        .main-right-showAll {
            border: none;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .main-right-recommand-content-area {
        display: flex;
        flex-flow: column;
        overflow-y: scroll;

        .main-right-recommand-content {
            display: flex;
            justify-content: space-between;
            padding: 0 0 10px 20px;
        
            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            >div {
                display: flex;
                justify-content: flex-start;  
            }

            button {
                border-style: none;
                font-size: 16px;
                color: #3897f0;
                font-weight: bold;
            }

        }
    }
}