$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
$borderGray: 1px solid #e6e6e6;
$colorInstagram: #3897f0;
%storeLogo {
  margin: 0 3px;
  width: 136px;
  height: 40px
};

* {
  box-sizing: border-box;
  font-family: font;
  font-size: 14px;
}

body {
  background-color: #efefef;

  .loginBody {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 45%;
      min-width: 300px;
      max-width: 360px;

    .mainLogin{
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      background-color: #fff;
      border: $borderGray;
      border-radius: 1px;
      margin: 60px auto 0 auto;

      .logoImage {
        width: 50%;
        height: auto;
        margin: 6% auto;
      }

      .IDinput, .PWinput {
        background-color: #fafafa;
        width: 70%;
        height: auto;
        margin: 5px auto;
        padding: 9px 8px 7px 8px;
        border-style: none;
        border-radius: 4px;
        border: 1px solid #efefef;
      }

      .loginBtn {
        width: 70%;
        height: 30px;
        margin: 15px auto;
        border-style: none;
        border-radius: 4px;
        color: #fff;
        background-color: #3897f0;
        font-weight: bold;
      }

      .barBox {
        display: flex;
        justify-content: center;
        margin: 15px auto;
        width: 100%;

        .or {
          width: auto;
        }

        .bar1, .bar2 {
          width: 25%;
          border-bottom: $borderGray;
          margin: 0 5px 10px 5px;
        }  
      }

      .facebookLoginBox {
        margin-bottom: 10px;

        a {
          display: flex;
          justify-content: flex-start;
        }

        a span {
          display: flex;
          align-items: center;
        }

        .facebookLogo {
          width: 16px;
          height: 16px;
          margin-right: 8px;
        }
      }

      .facebookLogintextLine2 {
        margin-bottom: 30px;
      }
    }

    .secLoginContainerBox {
      display: flex;
      justify-content: center;
      margin: 10px auto;
      width: 100%;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 1px;
      padding: 10px 0;

      .secLoginText a {
        color: $colorInstagram;
      }
    }

    .appDwn { margin: 15px auto 30px auto; }


    div.appStore, div.googlePlay {
      text-align: center;
      display: inline-block;
    }

    .appStoreLogo {
      @extend %storeLogo;
    }

    .googlePlayLogo {
      @extend %storeLogo;
    }
  }
}
