.article-feed-twit-area {
    display: flex;
    justify-content: stretch;
    border: 1px solid #efefef;
    background-color: #fff;
    padding: 10px 10px;

    input {
        padding-left: 10px;
        width: 90%;
        font-size: 16px;
        border-style: none;
    }

    button {
        width: 10%;
        border-style: none;
        color: #3897f0;
        font-weight: bold;
        font-size: 16px;
    }
}   