%AreaMargin { margin: 5px 10px;}

.article-feedcontent-box {
    display: flex;
    flex-flow: column;
    border: 1px solid #efefef;
    background-color: #fff;
    padding: 10px 0;

    .article-feed-Interactive-area {
        display: flex;
        justify-content: space-between;
        @extend %AreaMargin;

        .article-feed-Interactive-box-1, .article-feed-Interactive-box-2 {
            display: flex;
            justify-content: space-between;

            img {
                width: 26px;
                height: 24px;
                margin: 5px;
            }
        }
    }

    .article-feed-showLike-area{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @extend %AreaMargin;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .article-feed-article-area{
        @extend %AreaMargin;
    }

    .article-feed-comment-area {
        display: flex;
        flex-flow: column;
        height: 100px;
        @extend %AreaMargin;
        overflow-y: scroll;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1px;
            border: none;

            .comment-Like {
                width: 15px;
                height: 15px;
            }
        }
    }
}