.filteredBox {
    z-index: 1;
    width: 100%;
    background-color: white;
    text-align: left;
    margin-top: 5px;
}

.filteredBox div {
    padding: 5px;
    font-size: 14px;
}

.filteredBox div span {
    color:#3897f0;
}