.main {
    clear: both;
    text-align: center;
}

.main-container {
    position: relative;
    width: 1000px;
    margin: 60px auto;
    vertical-align: top;;
}

.main-right-container {
    margin-left: 15px;
    vertical-align: top;
    width: 320px;
    display: inline-block;
}